* {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    
}

img {
    display: none;
}

html,
body {
    background-color: white;
    position: fixed;
}

.gameScreen {
    background-color: black;
}